@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(267, 35%, 49%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

form {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px; 
}

label {
  font-weight: 600;
  padding: 10px 0;
}

input {

  max-width: 425px;

  padding: 0.8em;
  font-size: 0.9em;
  font-family: "Source Sans Pro", sans-serif;

  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

button {
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px;
    border: none;
    background-color: #3f5185;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    width:auto;
}

input:focus {
  background: #ffffff;
}

input::placeholder {
  color: #bbbbbb;
}

button:active {
  background: #0fa942;
}
